.has-required::after {
  content: '*';
  color: red;
  margin-left:2px;
}

.img-store {
  height: 80px;
}

.user-page-container {
  padding-top: 81px;
  padding-bottom: 50px;

  @include media-breakpoint-up(lg) {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.user-product-page-container {
  padding-top: 141px;
  padding-bottom: 50px;

  @include media-breakpoint-up(lg) {
    padding-top: 174.5px;
    padding-bottom: 80px;
  }
}

// 前台產品、藝術家 navbar
.nav-product-filter {
  padding-top: 56px;

  @include media-breakpoint-up(lg) {
    padding-top: 59px;
  }
}

.dropdown-scrollbar {
  max-height:400px;
  scrollbar-width: none; //Firefox 中隱藏滾動條外框
  -ms-overflow-style: none; //隱藏滾動條外框（IE 和 Edge）

  &::-webkit-scrollbar {
    width: 8px; //滾動條寬度
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary; //滾動條滑塊顏色
  }

  &::-webkit-scrollbar-track {
    background-color: $tertiary; //滾動條軌道背景顏色
  }

  /* Firefox-specific styles */
  scrollbar-width: thin;
  scrollbar-color: $primary $tertiary; /* thumb track */
}